.topNav {
	background-color: #27ae60;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 0;
	position: absolute;
	top:0;
	height: 45px;
	left:0;
	width: 100%;
	box-sizing: border-box;

	.title {
		font-size: 14pt;
		margin: 10px;
	}

	button {
		padding: 10px 25px;
		margin: 0;
		font-size: 12pt;
		background-color: #2ecc71;
		height: 100%;
		color: #ffffff;
		cursor: pointer;
		font-family: 'Roboto', sans-serif;
		border: none;

		&.memdump {
			opacity: 0.5;
		}
	}
}